@use "module";

$colorR:red;
$colorG:green;
$colorB:blue;

@mixin item($color, $border-color, $font-size) {
    color: $color;
    border-color: $border-color;
    font-size: $font-size;
    border: 1px solid $colorB;
}

.container {
    border: 1px solid $colorG ;
    h1 {
        display: flex;
        justify-content: center;
        color: $colorG;
        text-decoration: underline $colorB;
    }

    .subtitle {
        @extend h1;
        text-decoration: none;
        padding: 1rem;
        border: 1px solid red;
    }
    
    .loremsdivs {
        display: flex;
        flex-direction: row;
        div:nth-child(1){
        border: 1px solid $colorG;
        color: $colorB;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        margin: 10px;
       }
       div:nth-child(2) {
        border: 1px solid $colorG;
        color: $colorR;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        margin: 10px;
       }
       div:nth-child(3) {
        border: 1px solid $colorG;
        color: $colorB;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        margin: 10px;
       }
       div:nth-child(4) {
        border: 1px solid $colorG;
        color: $colorR;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        margin: 10px;
       }
    }
    .numbers {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .fs-1rem {
            border: 1px solid red;
            width: module.pxToRem(45px);
            height: module.pxToRem(45px);
            p {
                margin: 0px;
            }
        }
    
        .fs-2rem {
            @extend .fs-1rem;
        }
    
        .fs-3rem {
            @extend .fs-1rem;
        }
    
        @for $flow from 1 through 19 {
            .fs-1rem {
                font-size: 1rem;
            }
    
            .fs-2rem {
                font-size: 2rem;
            }
    
            .fs-3rem {
                font-size: 3rem;
            }
        }
        $base-color: white;
        $basecolor: black;
        @for $i from 1 through 19 {
            div:nth-child(19n + #{$i}) {
                background-color: darken($base-color, $i * 5%);
                color: lighten($basecolor, $i * 5%);
            }
        }
          
        div:nth-child(10) {
            background-color: blue;
            color: red;
        }
    }

    .p {
        @include item(red, blue, 24px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
}